/* Images */

	#header
	{
		position: relative;
		background: url(../images/madrid9.jpg) no-repeat bottom center;
		background-attachment: fixed;
		background-size: cover;
		text-align: center;
	}

	#tweet
	{
		position: relative;
		text-align: center;
		background: url(../images/madrid9.jpg) no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}


/* Background */

	#main
	{
		position: relative;
		background: #FFF;
	}

/* Letter body */

	body,input,textarea,select
	{
		font-family: 'Roboto', sans-serif;
		font-size: small;
		font-weight: 300;
		line-height: 1.75em;
		color: #F52C2C;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 300;
		color: #F52C2C;
	}

/* Title */

    #logo a
	{
        font-family: "Roboto", sans-serif;
		display: block;
		text-decoration: none;
		font-weight: 300;
		line-height: 1em;
		font-size: 7em;
		color: #FFF;
		letter-spacing: -0.05em;
		margin: 0 0 0.125em 0;
	}
	
	#logo span
	{
		font-size: 1.4em;
		color: #FFF;
        font-family: "Roboto", sans-serif;
	}
